.product{
    display: flex;
    flex-direction: row;
}
.product img{
    width: 650px;
    height: 500px;
    margin: 0 auto;
}
.product-details{
    margin: auto 5em ;
}
h2{
    color: royalblue;
    text-align: center;
}
h1{
    color: royalblue;
}
h3{
    color: cadetblue;
}
.customer-review{
    margin: 2.5em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 3em;
}
.review{
    margin: 3em 8em;
}
.btn-review{
    width: 15em;
    background-color: tan;
    border: none;
    padding: .5em 3em;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    border-radius: 15px;
    float: right;
    margin-right: 2.5em;
}
@media only screen and (max-width: 767px) {
    .customer-review {
        margin: 2.5em 0;
        display: grid;
        grid-template-columns: 1fr;
    }
    .product{
        flex-direction: column;
    }
    .btn-review{
        float: left;
    }
    .product-details{
        margin: auto 5em;
    }

}