.product{
    display: flex;

}
.product-details{
    margin: 7em;
    text-align: left;
}
h1{
    color: royalblue;
    text-align: center;
}
.customer-review{
    margin: 2.5em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 3em;
}