.charts{
    margin: 2em 5em 2em 8em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.chart{
    margin-top: 2.5em;
    margin-right: 7em;
}
.chart h5{
    color: rebeccapurple;
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .charts {
        margin: 2.5em;
        grid-template-columns: 1fr;
    }
}