.charts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.chart{
    margin: 0 auto 2.5em auto;
}
.chart h5{
    color: rebeccapurple;
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .charts {
        grid-template-columns: 1fr;
        overflow-x: hidden;
    }
    
}